<div class="bottom ">
  <footer class=" flex-column ">
    <footer id="sticky-footer " class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; YourScale</small>
      </div>
    </footer>
    <footer>
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-md-3 footer-about wow fadeInUp animated"
              style="visibility: visible; animation-name: fadeInUp;">
              <img src="../assets/logo.png" alt="Card image cap" style="width:100%;" />

            </div>
            <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown animated"
              style="visibility: visible; animation-name: fadeInDown;">
              <h3>Kontakt</h3>
              <p><i class="fas fa-map-marker-alt"></i> Podwisłocze 000 Rzeszów, Poland</p>
              <p><i class="fas fa-phone"></i> Phone: (0039) 333 12 68 347</p>
              <p><i class="fas fa-envelope"></i> Email: <a [routerLink]="['/emailBox']">kontakt@yourscale.pl</a></p>
              <p><i class="fab fa-skype"></i> Skype: YourScale_online</p>
            </div>
            <div class="col-md-4 footer-links wow fadeInUp animated"
              style="visibility: visible; animation-name: fadeInUp;">
              <div class="row">
                <div class="col">
                  <h3>Linki</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p><a class="scroll-link" [routerLink]="['']">Strona Główna</a></p>
                  <p><a href="#">Rozszerzenia</a></p>
                  <p><a href="#">Jak To Działa</a></p>
                  <p><a href="#">Nasi Klienci</a></p>
                </div>
                <div class="col-md-6">
                  <p>
                    Jesteśmy młodą firmą, która zawsze szuka nowych i kreatywnych pomysłów, które pomogą Ci z twoimi
                    produktami oraz codziennymi posiłkami.
                  </p>
                  <p><a [routerLink]="['/kontakt']">Zespół YourScale</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </footer>

  </footer>
</div>