<div class="container">
  <div class="row">
    <div class="card text-center border-success  p-0 mb-5 mt-4 shadow-lg">
      <div class="card-header border-success ">
        YourScale
      </div>
      <div class="card-body">
        <h5 class="card-title">Zespół YourScale</h5>
        <p class="card-text">
          Jeśli masz jakiś problem śmiało napisz do nas. Postaramy sie jak
          najszybciej odpowiedzieć na twoje pytania. Poniżej znajdują się
          również numery kontaktowe do kierowników poszczegulnych działów, jeśli
          sprawa jest nagła zadzwoń do nas a my postaramy się pomóc.
        </p>
        <a href="#" class="btn btn-primary" [routerLink]="['/emailBox']"
          >kontakt@yourscale.pl</a
        >
      </div>
      <div class="card-footer text-muted border-success"></div>
    </div>

    <div class="container">
      <div class="row mt-2 mb-2 ">
        <div class="col-md-3 ">
          <div class="card border-success shadow-lg">
            <img
              class="card-img-top "
              src="../assets/bartek.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Bartosz Ochędowski</h5>
              <p class="card-text">
                W naszej firmie pełnię stanowisko CWO. Jestem programistą.
                Główną technologią jaką na codzień się zajmuje jest Angular oraz
                projektowanie i programowanie stron internetowych od strony
                frontendu. Aktualnie kończe trzeci rok studiów ze stopniem
                inżynierskim na wydziale informatyki stosowanej.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">-CWO</li>
              <li class="list-group-item">-JavaScript</li>
              <li class="list-group-item">-Angular</li>
            </ul>
            <div class="card-body">
              <a href="https://github.com/Touzen666" class="card-link"
                >Link do GitHub</a
              >
              <a href="#" class="card-link">Link do CV</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card border-success shadow-lg">
            <img
              class="card-img-top"
              src="../assets/magda.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Magdalena Kwiatek</h5>
              <p class="card-text">
                W naszej firmie pełnie funkcje zarządcze, organizacyjne i
                reprezentacyjne. Ukończyłam studia ze stopniem inżyniera na
                kierunku zarządzenie i inżynieria produkcji oraz kierunek
                bezpieczeństwo wewnętrzne ze stopniem licencjat. Od 3 lat
                aktywnie trenuje trójboju siłowy będąc jednocześnie
                instruktorem. Interesuje mnie zdrowy i aktywny tryb życia.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">-CEO</li>
              <li class="list-group-item">-Zarządzanie</li>
              <li class="list-group-item">-Inżynieria produkcji</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Link do CV</a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card border-success shadow-lg">
            <img
              class="card-img-top"
              src="../assets/grzegorz.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Grzegorz Pelczar</h5>
              <p class="card-text">
                Pełnię rolę osoby odpowiedzialnej za warstwę sprzętową naszej
                wagi od projektu po fizyczne wykonanie. Interesuje się
                elektroniką, urządzeniami audio oraz automatyką przemysłową oraz
                lubię nietrywialne rozwiązania. Sport jest nieodzwonym elementem
                mojego życia, reguralnie trenuję bieganie oraz pilates
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">-CIO</li>
              <li class="list-group-item">-Hardware</li>
              <li class="list-group-item">-Inżynier</li>
            </ul>
            <div class="card-body">
              <a
                href="https://www.linkedin.com/in/grzegorz-pelczar?fbclid=IwAR3jpO1aWh_gkZbBpXYBwdKPZtY4rzdpe-r_3cb2r_920AZQwIh8BBl2awU"
                class="card-link"
                >Linkedin</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card border-success shadow-lg">
            <img
              class="card-img-top "
              src="../assets/piotr.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Piotr Maślanka</h5>
              <p class="card-text">
                W naszej firmie pełnie rolę CTO oraz zajmuje się finansami
                firmy. Posiadam doktorat z dziedziny informatyki stosowanej oraz
                jestem biegłym sondowym. Na codzień prowadzę Sp. z. o. o Smok
                oraz prowadzę wykłady z dziedziny informatyki na Politechnice
                rzeszowskiej. Moją pasją jest technologia i poszerzanie
                horyzontów.
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">-CTO</li>
              <li class="list-group-item">-Python</li>
              <li class="list-group-item">-Finanse</li>
            </ul>
            <div class="card-body">
              <a href="https://github.com/piotrmaslanka" class="card-link"
                >Link do GitHub</a
              >
              <a href="#" class="card-link">Link do CV</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
