<div class="container">
  <div class="content-wrap">
    <nav class="navbar navbar-expand-lg navbar-warning bg-warning mt-5">
      <a class="navbar-brand  " href="#">Panel szybkiego wyboru</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor02"
        aria-controls="navbarColor02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <div class="btn-warning dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Pokaż tylko</a
              >
              <div class="dropdown-menu">
                <a class="dropdown-item">Nabiał</a>
                <a class="dropdown-item">Mięsa</a>
                <a class="dropdown-item">Warzywa</a>
                <a class="dropdown-item">...</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">Dodaj własny filtr</a>
              </div>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="Szukaj"
          />

          <button class="btn btn-warning my-2 my-sm-0" type="submit">
            Szukaj
          </button>
        </form>
      </div>
    </nav>

    <table class="table table-hover mt-5" style="background: #001D8F; ">
      <thead class="text-center">
        <tr>
          <th scope="col">Type of produckt</th>
          <th scope="col">Read description</th>
          <th scope="col">Give us like</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr class="table-info">
          <th scope="row">
            <div class="form-group" style="margin-top: 15px;">
              <div class="custom-control  custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck1"
                  checked=""
                />
                <label class="custom-control-label" for="customCheck1"
                  >Szynka</label
                >
              </div>
            </div>
          </th>

          <td><small>Rozwiń opis produktu</small></td>
          <td>
            <small>You like this sheet?</small>
            <span
              class="btn btn-outline-light ml-2"
              type="button"
              id="button-addon1"
            >
              <i class="far fa-thumbs-up" style="font-size: 20px;"></i>
            </span>
          </td>
        </tr>

        <tr class="table-primary">
          <th scope="row">
            <div class="form-group" style="margin-top: 15px;">
              <div class="custom-control  custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck2"
                  checked=""
                />
                <label class="custom-control-label" for="customCheck2"
                  >Szynka</label
                >
              </div>
            </div>
          </th>

          <td><small>Rozwiń opis produktu</small></td>
          <td>
            <small>You like this sheet?</small>
            <span
              class="btn btn-outline-light ml-2"
              type="button"
              id="button-addon1"
            >
              <i class="far fa-thumbs-up" style="font-size: 20px;"></i>
            </span>
          </td>
        </tr>
        <tr class="table-danger">
          <th scope="row">
            <div class="form-group" style="margin-top: 15px;">
              <div class="custom-control  custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck3"
                  checked=""
                />
                <label class="custom-control-label" for="customCheck3"
                  >Szynka</label
                >
              </div>
            </div>
          </th>

          <td><small>Rozwiń opis produktu</small></td>
          <td>
            <small>You like this sheet?</small>
            <span
              class="btn btn-outline-light ml-2"
              type="button"
              id="button-addon1"
            >
              <i class="far fa-thumbs-up" style="font-size: 20px;"></i>
            </span>
          </td>
        </tr>
        <tr class="table-secondary">
          <th scope="row">
            <div class="form-group" style="margin-top: 15px;">
              <div class="custom-control  custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck4"
                  checked=""
                />
                <label class="custom-control-label" for="customCheck4"
                  >Szynka</label
                >
              </div>
            </div>
          </th>

          <td><small>Rozwiń opis produktu</small></td>
          <td>
            <small>You like this sheet?</small>
            <span
              class="btn btn-outline-light ml-2"
              type="button"
              id="button-addon1"
            >
              <i class="far fa-thumbs-up" style="font-size: 20px;"></i>
            </span>
          </td>
        </tr>

        <tr class="table-success">
          <th scope="row">
            <div class="form-group" style="margin-top: 15px;">
              <div class="custom-control  custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck5"
                  checked=""
                />
                <label class="custom-control-label" for="customCheck5"
                  >Szynka</label
                >
              </div>
            </div>
          </th>

          <td><small>Rozwiń opis produktu</small></td>
          <td>
            <small>You like this sheet?</small>
            <span
              class="btn btn-outline-light ml-2"
              type="button"
              id="button-addon1"
            >
              <i class="far fa-thumbs-up" style="font-size: 20px;"></i>
            </span>
          </td>
        </tr>

        <tr class="table-warning">
          <th scope="row">
            <div class="form-group" style="margin-top: 15px;">
              <div class="custom-control  custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck6"
                  checked=""
                />
                <label class="custom-control-label" for="customCheck6"
                  >Szynka</label
                >
              </div>
            </div>
          </th>

          <td><small>Rozwiń opis produktu</small></td>
          <td>
            <small>You like this sheet?</small>
            <span
              class="btn btn-outline-light ml-2"
              type="button"
              id="button-addon1"
            >
              <i class="far fa-thumbs-up" style="font-size: 20px;"></i>
            </span>
          </td>
        </tr>

        <tr class="table-light">
          <th scope="row">
            <div class="form-group" style="margin-top: 15px;">
              <div class="custom-control  custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck7"
                  checked=""
                />
                <label class="custom-control-label" for="customCheck7"
                  >Szynka</label
                >
              </div>
            </div>
          </th>

          <td><small>Rozwiń opis produktu</small></td>
          <td>
            <small>You like this sheet?</small>
            <span
              class="btn btn-outline-light ml-2"
              type="button"
              id="button-addon1"
            >
              <i class="far fa-thumbs-up" style="font-size: 20px;"></i>
            </span>
          </td>
        </tr>
        <tr class="table-dark">
          <th scope="row">
            <div class="form-group" style="margin-top: 15px;">
              <div class="custom-control  custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customCheck8"
                  checked=""
                />
                <label class="custom-control-label" for="customCheck8"
                  >Szynka</label
                >
              </div>
            </div>
          </th>

          <td><small>Rozwiń opis produktu</small></td>
          <td>
            <small>You like this sheet?</small>
            <span
              class="btn btn-outline-light ml-2"
              type="button"
              id="button-addon1"
            >
              <i class="far fa-thumbs-up" style="font-size: 20px;"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="float-right">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
</div>
