<!-- <div class="contener">
  <div class="row m-3">
    <div class="col-md-3 mb-3">
      <div class="card border-success shadow-lg" style="max-width: 18rem;">
        <div class="m-4">
          <img
            class="card-img-top"
            src="../assets/mleko.jpg"
            alt="Card image cap"
            style="height: 160px;"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title" style="margin-left: 2rem;">
            Mleko 2.0% tłuszczu
          </h5>
          <div
            style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 1rem;"
          >
            <span style="font-weight:bold;">Kalorie:</span><span> 0.311</span
            ><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.121</span
            ><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.51</span
            ><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.111</span
            ><br />
          </div>
          <p style="float: right;">Ilość: 2L</p>

          <button type="button" class="btn btn-primary btn-lg btn-block">
            Wyjmij z lodówki
          </button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">
            Włóż do lodówki
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-success shadow-lg" style="width: 18rem;">
        <div class="m-4">
          <img
            class="card-img-top"
            src="../assets/szynka.jpg"
            alt="Card image cap"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title" style="margin-left: 2rem;">
            Szynka Wujta
          </h5>
          <div
            style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 1rem;"
          >
            <span style="font-weight:bold;">Kalorie:</span><span> 0.244</span
            ><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.221</span
            ><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.71</span
            ><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.171</span
            ><br />
          </div>
          <p style="float: right;">Ilość: 200g</p>

          <button type="button" class="btn btn-primary btn-lg btn-block">
            Wyjmij z lodówki
          </button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">
            Włóż do lodówki
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-success shadow-lg" style="width: 18rem;">
        <div class="m-4">
          <img
            class="card-img-top"
            src="../assets/ser.jpg"
            alt="Card image cap"
            style="height: 160px;"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title" style="margin-left: 2rem;">
            Ser Żółty Pakowany
          </h5>
          <div
            style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 1rem;"
          >
            <span style="font-weight:bold;">Kalorie:</span><span> 0.344</span
            ><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.261</span
            ><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.21</span
            ><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.191</span
            ><br />
          </div>
          <p style="float: right;">Ilość: 300g</p>

          <button type="button" class="btn btn-primary btn-lg btn-block">
            Wyjmij z lodówki
          </button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">
            Włóż do lodówki
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-success shadow-lg" style="width: 18rem;">
        <div class="m-4">
          <img
            class="card-img-top"
            src="../assets/ser.jpg"
            alt="Card image cap"
            style="height: 160px;"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title" style="margin-left: 2rem;">
            Ser Żółty Pakowany
          </h5>
          <div
            style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 1rem;"
          >
            <span style="font-weight:bold;">Kalorie:</span><span> 0.344</span
            ><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.261</span
            ><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.21</span
            ><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.191</span
            ><br />
          </div>
          <p style="float: right;">Ilość: 300g</p>

          <button type="button" class="btn btn-primary btn-lg btn-block">
            Wyjmij z lodówki
          </button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">
            Włóż do lodówki
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-success shadow-lg" style="width: 18rem;">
        <div class="m-4">
          <img
            class="card-img-top"
            src="../assets/ser.jpg"
            alt="Card image cap"
            style="height: 160px;"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title" style="margin-left: 2rem;">
            Ser Żółty Pakowany
          </h5>
          <div
            style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 1rem;"
          >
            <span style="font-weight:bold;">Kalorie:</span><span> 0.344</span
            ><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.261</span
            ><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.21</span
            ><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.191</span
            ><br />
          </div>
          <p style="float: right;">Ilość: 300g</p>

          <button type="button" class="btn btn-primary btn-lg btn-block">
            Wyjmij z lodówki
          </button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">
            Włóż do lodówki
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-success shadow-lg" style="width: 18rem;">
        <div class="m-4">
          <img
            class="card-img-top"
            src="../assets/ser.jpg"
            alt="Card image cap"
            style="height: 160px;"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title" style="margin-left: 2rem;">
            Ser Żółty Pakowany
          </h5>
          <div
            style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 1rem;"
          >
            <span style="font-weight:bold;">Kalorie:</span><span> 0.344</span
            ><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.261</span
            ><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.21</span
            ><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.191</span
            ><br />
          </div>
          <p style="float: right;">Ilość: 300g</p>

          <button type="button" class="btn btn-primary btn-lg btn-block">
            Wyjmij z lodówki
          </button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">
            Włóż do lodówki
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-success shadow-lg" style="width: 18rem;">
        <div class="m-4">
          <img
            class="card-img-top"
            src="../assets/mleko.jpg"
            alt="Card image cap"
            style="height: 200px;"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title" style="margin-left: 2rem;">
            Mleko 2.0% tłuszczu
          </h5>
          <div
            style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 1rem;"
          >
            <span style="font-weight:bold;">Kalorie:</span><span> 0.311</span
            ><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.121</span
            ><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.51</span
            ><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.111</span
            ><br />
          </div>

          <button type="button" class="btn btn-primary btn-lg btn-block">
            Wyjmij z lodówki
          </button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">
            Włóż do lodówki
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-success shadow-lg" style="width: 18rem;">
        <div class="m-4">
          <img
            class="card-img-top"
            src="../assets/szynka.jpg"
            alt="Card image cap"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title" style="margin-left: 2rem;">
            Szynka Wujta
          </h5>
          <div
            style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 1rem;"
          >
            <span style="font-weight:bold;">Kalorie:</span><span> 0.244</span
            ><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.221</span
            ><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.71</span
            ><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.171</span
            ><br />
          </div>
          <p style="float: right;">Ilość: 200g</p>

          <button type="button" class="btn btn-primary btn-lg btn-block">
            Wyjmij z lodówki
          </button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">
            Włóż do lodówki
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->




<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-5 mb-5">
    <a class="navbar-brand  " href="#">Panel szybkiego wyboru</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <div class="btn-dark dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Pokaż tylko</a>
            <div class="dropdown-menu" style="">
              <a class="dropdown-item" href="#">Nabiał</a>
              <a class="dropdown-item" href="#">Mięsa</a>
              <a class="dropdown-item" href="#">Warzywa</a>
              <a class="dropdown-item" href="#">...</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Dodaj własny filtr</a>
            </div>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Szukaj">

        <button class="btn btn-dark my-2 my-sm-0" type="submit"> Szukaj</button>
      </form>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="product-grid5">
        <div class="product-image5">
          <a class="imge-container-link" href="#">
            <img class="pic-1" src="../assets/szynka.jpg">
            <img class="pic-2" src="../assets/szynka2.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Wyjmij z lodówki</a>
        </div>
        <div class="product-content">
          <h3 class="title">Szynka</h3>
          <div class="value-item">
            <span style="font-weight:bold;">Kalorie:</span><span> 0.344</span><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.261</span><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.21</span><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.191</span><br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid5">
        <div class="product-image5">
          <a class="imge-container-link" href="#">
            <img class="pic-1" src="../assets/szynka.jpg">
            <img class="pic-2" src="../assets/szynka2.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Wyjmij z lodówki</a>
        </div>
        <div class="product-content">
          <h3 class="title">Mleko</h3>
          <div class="value-item">
            <span style="font-weight:bold;">Kalorie:</span><span> 0.311</span><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.121</span><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.51</span><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.111</span><br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid5">
        <div class="product-image5">
          <a class="imge-container-link" href="#">
            <img class="pic-1" src="../assets/szynka.jpg">
            <img class="pic-2" src="../assets/szynka2.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Wyjmij z lodówki</a>
        </div>
        <div class="product-content">
          <h3 class="title">Ser Żółty</h3>
          <div class="value-item">
            <span style="font-weight:bold;">Kalorie:</span><span> 0.344</span><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.261</span><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.21</span><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.191</span><br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid5">
        <div class="product-image5">
          <a class="imge-container-link" href="#">
            <img class="pic-1" src="../assets/szynka.jpg">
            <img class="pic-2" src="../assets/szynka2.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Wyjmij z lodówki</a>

        </div>
        <div class="product-content">
          <h3 class="title">Jajka</h3>
          <div class="value-item">
            <span style="font-weight:bold;">Kalorie:</span><span> 0.244</span><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.221</span><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.71</span><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.171</span><br />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="product-grid5">
        <div class="product-image5">
          <a class="imge-container-link" href="#">
            <img class="pic-1" src="../assets/szynka.jpg">
            <img class="pic-2" src="../assets/szynka2.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Wyjmij z lodówki</a>
        </div>
        <div class="product-content">
          <h3 class="title">Szynka</h3>
          <div class="value-item">
            <span style="font-weight:bold;">Kalorie:</span><span> 0.344</span><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.261</span><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.21</span><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.191</span><br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid5">
        <div class="product-image5">
          <a class="imge-container-link" href="#">
            <img class="pic-1" src="../assets/szynka.jpg">
            <img class="pic-2" src="../assets/szynka2.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Wyjmij z lodówki</a>
        </div>
        <div class="product-content">
          <h3 class="title">Mleko</h3>
          <div class="value-item">
            <span style="font-weight:bold;">Kalorie:</span><span> 0.311</span><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.121</span><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.51</span><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.111</span><br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid5">
        <div class="product-image5">
          <a class="imge-container-link" href="#">
            <img class="pic-1" src="../assets/szynka.jpg">
            <img class="pic-2" src="../assets/szynka2.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Wyjmij z lodówki</a>
        </div>
        <div class="product-content">
          <h3 class="title">Ser Żółty</h3>
          <div class="value-item">
            <span style="font-weight:bold;">Kalorie:</span><span> 0.344</span><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.261</span><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.21</span><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.191</span><br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid5">
        <div class="product-image5">
          <a class="imge-container-link" href="#">
            <img class="pic-1" src="../assets/szynka.jpg">
            <img class="pic-2" src="../assets/szynka2.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Wyjmij z lodówki</a>

        </div>
        <div class="product-content">
          <h3 class="title">Jajka</h3>
          <div class="value-item">
            <span style="font-weight:bold;">Kalorie:</span><span> 0.244</span><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.221</span><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.71</span><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.171</span><br />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="product-grid5">
        <div class="product-image5">
          <a class="imge-container-link" href="#">
            <img class="pic-1" src="../assets/szynka.jpg">
            <img class="pic-2" src="../assets/szynka2.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Wyjmij z lodówki</a>
        </div>
        <div class="product-content">
          <h3 class="title">Szynka</h3>
          <div class="value-item">
            <span style="font-weight:bold;">Kalorie:</span><span> 0.344</span><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.261</span><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.21</span><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.191</span><br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid5">
        <div class="product-image5">
          <a class="imge-container-link" href="#">
            <img class="pic-1" src="../assets/szynka.jpg">
            <img class="pic-2" src="../assets/szynka2.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Wyjmij z lodówki</a>
        </div>
        <div class="product-content">
          <h3 class="title">Mleko</h3>
          <div class="value-item">
            <span style="font-weight:bold;">Kalorie:</span><span> 0.311</span><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.121</span><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.51</span><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.111</span><br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid5">
        <div class="product-image5">
          <a class="imge-container-link" href="#">
            <img class="pic-1" src="../assets/szynka.jpg">
            <img class="pic-2" src="../assets/szynka2.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Wyjmij z lodówki</a>
        </div>
        <div class="product-content">
          <h3 class="title">Ser Żółty</h3>
          <div class="value-item">
            <span style="font-weight:bold;">Kalorie:</span><span> 0.344</span><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.261</span><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.21</span><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.191</span><br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="product-grid5">
        <div class="product-image5">
          <a class="imge-container-link" href="#">
            <img class="pic-1" src="../assets/szynka.jpg">
            <img class="pic-2" src="../assets/szynka2.jpg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Wyjmij z lodówki</a>

        </div>
        <div class="product-content">
          <h3 class="title">Jajka</h3>
          <div class="value-item">
            <span style="font-weight:bold;">Kalorie:</span><span> 0.244</span><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.221</span><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.71</span><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.171</span><br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="float-right">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">4</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">5</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
<hr>


<hr>